<%
  if params && params[:id] 
    @user = User.find_by_profile_name(params[:id])
    if @user
      @leafs = @user.leafs.all(:order => 'created_at DESC')
    end
  end
%>
<div class="row">
  <div class="span12">
    <% if current_user && @leafs && @leafs.count > 0 %>
      <div class="leaf-index">
        <% if params && params[:id] && user_signed_in? %>
          <h2><%= current_user.fullname %></h2>
        <% else %>
          <h2>Pile of Leafs</h2>
        <% end %>
        <%= render "show_leafs" %>          
      </div>
    <% else %>
      <%= render 'show_welcome_buttons' %>
    <% end %>
  </div>
</div>       