<div class="row">
  <div class="span12">
    <% if current_user && @leafs && @leafs.count > 0 %>
      <div class="leaf-index">
        <% if params && (params[:profile_name] || params[:id]) && user_signed_in? %>
          <h2><%= current_user.first_name %>'s Leaves</h2>
        <% else %>
          <h2>Pile of Leaves</h2>
        <% end %>
        <%= render "show_leafs" %>          
      </div>
    <% else %>
      <%= render 'show_welcome_buttons' %>
    <% end %>
  </div>
</div>       