<div class="row">
	<div class="span12">
		<div class="leaf-index">
			<fieldset class="well">
		        <legend class="treebook-header">View Leave</legend>			
				<strong>Name:</strong>
				<strong>
				  <% if !@leaf || !@leaf.user %>
				    Unknown
				  <% else %>
				    <%= @leaf.user.fullname %>
				  <% end %>
				</strong>

				<p>
			  		<strong>Content:</strong>
			  		<%= @leaf.content %>
				</p>			
			</fieldset>
			<div align="center">
				<% if user_signed_in? && @leaf && current_user && @leaf.user_id == current_user.id %>
					<div class="btn-group" > 
						<%= link_to 'Edit Leaf', edit_leaf_path(@leaf), :class => 'btn btn-primary'  %>
					</div>
				<% end %>
				<div class="btn-group" > 	
					<%= link_to 'Done', leafs_path, :class => 'btn btn-primary'  %>
				</div>
			</div>
		</div>
	</div>
</div>